#chat-window form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#chat-window form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
#chat-window form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#chat-window #messages { list-style-type: none; margin: 0; padding: 0; }
#chat-window #messages li { padding: 5px 10px; }
#chat-window #messages li:nth-child(odd) { background: #eee; }