.gain {
	color: green;
}
.loss {
	color: red;
}
/*.bg {
  background: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9b/2d/f2/new-york-city.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; 
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
    background: transparent;
}*/

.ticker-GOOG {
	color: blue;
}

.highcharts-background {
	color: #c8c8c8;
}